<%- include('../layers/header', {title, count}) %>
<div class="card" style="width: 400px;">
    <img src="<%=book.fileCover%>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%=book.title%></h5>
      <p class="card-text"><%=book.description%></p>
      <p class="card-text">Просмотров: <%=count%></p>
      <a href="/books/<%=book.id%>/download" class="btn btn-info">Скачать</a>
      <a href="/books/update/<%=book.id%>" class="btn btn-success">Редактировать</a>
      <a href="/books/delete/<%=book.id%>" class="btn btn-danger">Удалить</a>
    </div>
  </div>
<%- include('../layers/footer') %>