<%- include('../layers/header', {title: "Мой профиль", user}) %>
  <h2>Мой профиль</h2>
  <div class="profile">
    <ul class="profile__list list-group">
      <li class="profile__item list-group-item"><span class="profile__name">ID:</span>
        <%=user[0]._id%>
      </li>
      <li class="profile__item list-group-item"><span class="profile__name">USERNAME:</span>
        <%=user[0].username%>
      </li>
      <li class="profile__item list-group-item"><span class="profile__name">NAME:</span>
        <%=user[0].name%>
      </li>
      <li class="profile__item list-group-item"><span class="profile__name">SURNAME:</span>
        <%=user[0].surname%>
      </li>
    </ul>
  </div>
  <style>
    .profile__name {
      font-weight: 800;
    }
  </style>
  <%- include('../layers/footer') %>